.wrapper {
  min-height: 1000px;
  background: linear-gradient(
      to bottom,
      rgba($secondary-accent-color, 0.9),
      rgba($primary-accent-color, 0.9)
    ),
    url("../../images/Layer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
