html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Playfair Display', serif;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*navigation*/

.Lifestyle{
    margin-left: 162px;
}

.Photodiary{
    margin-left: 120px;
}

.Music{
    margin-left: 100px;
}

.Travel{
    margin-left: 90px;
    margin-right: 162px;
}
.conteiner{
    width: 900px;
    margin: 0 auto;
}

.navigation{
    padding: 74px 0;
}
.site-navigation{
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.site-navigation li{
    display: inline-block;
}

.site-navigation a:hover,
.site-navigation a:focus{
color: #03a9f4;
}
.menu-item-link{
    text-decoration: none;
    color: #626262;
}

/*content site*/

.main-content{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    color: #626262;
}
article{
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    font-size: 14px;
}

article:nth-child(2n) {
    margin-right: 0;
}

h2{
    font-size: 30px;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
}

/*button*/

button {
    border-width: 1px;
    border-color: #626262;
    border-style: solid;
    background: #ffffff;
    width: 164px;
    height: 60px;
    font-size: 20px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    margin: 56px 380px 70px 360px;  
} 

  