$main-font-stack: "Roboto", "Arial", sans-serif;
$primary-light-color: #ffffff;
$secondary-light-color: #999999;
$third-light-color: #cccccc;
$primary-black-color: #333333;
$primary-accent-color: #fce38a;
$secondary-accent-color: #f38181;
$third-accent-color: #f6a1a1;
$bg-color: #95e1d3;
$secondary-bg-color: rgba(0, 0, 0, 0);
$border-bottom-color: #fce38a00;
